[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
google-auth = "*"
flask-sqlalchemy = "*"
requests = "*"
flask-migrate = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.7"
